.navbar{
    background-color: #711a71;
    background-image: linear-gradient(0deg, #711a71 0%, #040b41 100%);
    height: 80px;

}

.fondo{
    background-color: #fff0ff;
}

h1{
    font-family: 'Martian Mono', monospace;
}